<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Registration </title>
    
    <style>
	form{
		font-family: "Time New Romans";
		font-size: 24px;
		padding: 1%;
		margin: 1%;
	}
	button{
		background-color: #E6E6FA;
		font-family: "Times New Roman";
		color: black;
		border-color: black;
		padding: 15px 32px;
		text-align: center;
		display: inline-block;
		font-size: 18px;
		margin: 4px 2px;
		cursor: pointer;
	}
	</style>
  </head>
  
  <body>
    <div>  
        <form name="form" th:action="@{/registration}" method="post">               
           
                <legend>Make your registration!</legend>

                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName"/>
                  
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName"/>
   
                <label for="email">Email address</label>
                <input type="text" id="email" name="email"/>  
                      
                <label for="password">Password</label>
                <input type="password" id="password" name="password"/> 
                   
                <div class="form-actions">
                    <button type="submit">Register</button>
                </div>
        </form>
    </div>
  </body>
</html>