@CHARSET "UTF-8";

#map {
	height: 22%;
	margin: 10%;
	padding: 10%;
}
      
.button {
	background-color: #E2E2E2;
	font-family: "Times New Roman";
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	cursor: pointer;
}
		
h1{
	font-family: "Time New Roman";
	font-size: 32px;
	text-align: center;
	padding: 5%;
	margin: 5%
}

nav{
	padding: 0,5%;
	color: black;
	font-family: "Time New Romans";
	font-size: 19px;
	
}

.addDevice-legend{
	text-align: center;
	font-family: "Time New Romans";
	font-size: 24px;
	color: black;
}
		
.form{
	font-family: "Time New Romans";
	font-size: 20px;
	color: black;
	text-align: center;
	padding-top: 15px;
}